In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('./covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.shape

(100, 6)

In [7]:
def get_value_counts(field):
    return df[field].value_counts()

In [8]:
get_value_counts('cough')

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [9]:
get_value_counts('gender')

gender
Female    59
Male      41
Name: count, dtype: int64

In [10]:
get_value_counts('city')

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64